{
    "main": {
        "port": "3000",
        "logDirectory": "/home/pi/raspberryAPI/log",
        "linebotAPI": "",
        "firebase": {
            "apiKey" : "",
            "authDomain" : "",
            "databaseURL" : "",
            "storageBucket" : ""
        }
    },
    "rfid": {

    },
    "lock": {
        "powerPIN": 0,
        "openPIN": 0
    },
    "glass": {
        "powerPIN": 0,
        "casePIN": 0,
        "detectPIN": 0
    }
}