{
    "main": {
        "logDirectory": "//var/log",
        "port": "3000",
        "linebotAPI": "",
        "firebase_uid": "",
        "college": "",
        "spaceCode": ""
    },
    "lock": {
        "powerPIN": 0,
        "openPIN": 0,
        "doorPIN": 0
    },
    "glass": {
        "powerPIN": 0,
        "casePIN": 0,
        "detectPIN": 0
    }
}